body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e0f7fa;
    font-family: 'Arial', sans-serif;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    width: 100%;
    padding: 20px;
    flex: 1;
}

.content {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom right, #ffffff, #e1f5fe);
    border-radius: 12px;
    margin-right: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
}

.dashboard-container {
    flex: 1;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    transition: background 0.3s;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
    color: #00796b;
}

h2 {
    color: #00575b;
    margin-bottom: 10px;
}

.theme-toggle {
    position: fixed;
    top: 10px;
    right: 50px;
    background-color: #00796b;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s;
}

.theme-toggle:hover {
    background-color: #004d40;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 999;
    margin-left: 20px;
}

.dropdown button {
    background-color: #00796b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.dropdown button:hover {
    background-color: #004d40;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border-radius: 8px;
}

.dropdown-content a {
    color: #00796b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #e0f2f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 2px solid #1e90ff;
    color: #aaa;
    position: relative;
    width: 100%;
}

.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .content {
    background-color: #424242;
    color: #e0e0e0;
}

.dark-mode .dashboard-container {
    background-color: #1e1e1e;
}

.dark-mode h1 {
    color: #80cbc4;
}

.dark-mode h2 {
    color: #4db6ac;
}

.dark-mode .dropdown-content {
    background-color: #424242;
}

.dark-mode .dropdown-content a {
    color: #e0e0e0;
}

.dark-mode .dropdown-content a:hover {
    background-color: #336b65;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

p {
    line-height: 1.6;
}